version: '3.4'

services:
    connect-four-referee:
        image: marein/php-gaming-website:php-fpm
        command: bin/console gaming:consume-messages connect-four.referee -r 3
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            replicas: 5
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=connect-four-referee"
    connect-four-publish-running-games-count-to-nchan:
        image: marein/php-gaming-website:php-fpm
        command: bin/console connect-four:publish-running-games-count-to-nchan
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            placement:
                constraints:
                    - "node.labels.long-running==1"
    connect-four-handle-timeouts:
        image: marein/php-gaming-website:php-fpm
        command: bin/console connect-four:handle-timeouts
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=connect-four-handle-timeouts"
    connect-four-publish-to-browser:
        image: marein/php-gaming-website:php-fpm
        command: bin/console gaming:consume-messages connect-four.publish-to-browser -r 5
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            replicas: 20
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=connect-four-publish-to-browser"
    connect-four-transient-rpc:
        image: marein/php-gaming-website:php-fpm
        command: bin/console gaming:consume-messages connect-four.transient-rpc -r 3
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=connect-four-transient-rpc"
    connect-four-bot:
        image: ghcr.io/gaming-platform/service-connect-four-bot
        env_file: ../bot.env
        deploy:
            labels:
                - "prometheus-job=connect-four-bot"

volumes:
    proxysql.sock:
