<li class="list-inline-item">
    <a href="{{ path('lobby') }}"
       target="_blank"
       class="link-secondary"
       rel="noopener">
        Contact Us
    </a>
</li>
<li class="list-inline-item">
    <a href="{{ path('lobby') }}"
       target="_blank"
       class="link-secondary"
       rel="noopener">
        Terms & Conditions
    </a>
</li>
<li class="list-inline-item">
    <a href="{{ path('lobby') }}"
       target="_blank"
       class="link-secondary"
       rel="noopener">
        Imprint
    </a>
</li>
