imports: [{ resource: services/ }]

framework:
    ssi: { enabled: true }
    fragments: { path: /_fragment }
    session:
        handler_id: web-interface.session-handler
        cookie_samesite: lax
    form:
        csrf_protection: false # CSRF protection is handled by marein/symfony-standard-headers-csrf-bundle.

twig:
    paths: { '%kernel.project_dir%/src/WebInterface/Presentation/Http/View': web-interface }

security:
    providers:
        user_provider:
            id: 'web-interface.security.user_provider'
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            pattern: ^/
            lazy: true
            login_link:
                check_route: identity_login_check
                signature_properties: ['userIdentifier']
            logout:
                path: /logout
    access_control:
        - { path: '^/metrics', roles: PUBLIC_ACCESS, ips: ['%env(APP_METRICS_TRUSTED_IPS)%'] }
        - { path: '^/metrics', roles: ROLE_NO_ACCESS }

when@dev:
    services:
        Gaming\WebInterface\Infrastructure\Symfony\ReplaceSymfonyToolbar:
            tags: [{ name: kernel.event_listener, event: kernel.response }]
