home:
    path: /
    methods: [GET]
    controller: web-interface.page-controller::homeAction

metrics:
    path: /metrics
    methods: [GET]
    controller: web-interface.metrics-controller::showAction

server_time:
    path: /api/server-time
    methods: [GET]
    controller: web-interface.server-time-controller::serverTimeAction
    defaults: { _format: json }
