lobby:
    path: /
    methods: [GET]
    controller: web-interface.page-controller::lobbyAction

metrics:
    path: /metrics
    methods: [GET]
    controller: web-interface.metrics-controller::showAction

profile:
    path: /profile
    methods: [GET]
    controller: web-interface.page-controller::profileAction

game:
    path: /game/{id}
    methods: [GET]
    controller: web-interface.page-controller::gameAction

server_time:
    path: /api/server-time
    methods: [GET]
    controller: web-interface.server-time-controller::serverTimeAction
    defaults: { _format: json }
