services:
    chat.command-message-handler.topology:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\Topology\QueueTopology
        arguments: ['Chat.CommandListener', 'gaming', [
            !php/const GamingPlatform\Api\Chat\V1\ChatV1::InitiateChatType
        ]]
        tags: [{ name: 'gaming.message-broker.topology' }]

    chat.command-message-handler.consumer:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\AmqpConsumer
        factory: ['@gaming.message-broker.amqp-consumer-factory', 'create']
        arguments:
            - !service
                class: Gaming\Chat\Presentation\Messaging\CommandMessageHandler
                arguments: ['@chat.command-bus']
            - !service
                class: Gaming\Common\MessageBroker\Integration\AmqpLib\QueueConsumer\ConsumeQueues
                arguments: ['@chat.command-message-handler.topology']
        tags: [{ name: 'gaming.consumer', key: 'chat.command' }]

    chat.publish-to-browser-message-handler.topology:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\Topology\QueueTopology
        arguments: ['Chat.BrowserNotification', 'gaming', [
            !php/const GamingPlatform\Api\Chat\V1\ChatV1::MessageWrittenType
        ]]
        tags: [{ name: 'gaming.message-broker.topology' }]

    chat.publish-to-browser-message-handler.consumer:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\AmqpConsumer
        factory: ['@gaming.message-broker.amqp-consumer-factory', 'create']
        arguments:
            - !service
                class: Gaming\Chat\Infrastructure\Messaging\PublishMessageBrokerEventsToBrowserMessageHandler
                arguments: ['@gaming.browser-notifier', '@gaming.usernames']
            - !service
                class: Gaming\Common\MessageBroker\Integration\AmqpLib\QueueConsumer\ConsumeQueues
                arguments: ['@chat.publish-to-browser-message-handler.topology']
        tags: [{ name: 'gaming.consumer', key: 'chat.publish-to-browser' }]
