services:

    chat.follow-event-store-command:
        class: Gaming\Common\Port\Adapter\Symfony\FollowEventStoreCommand
        public: false
        arguments:
            - '@chat.event-store'
            - !service
                class: Gaming\Common\Port\Adapter\Symfony\EventStorePointerFactory\PredisEventStorePointerFactory
                arguments:
                    - '@chat.predis'
            - !tagged { tag: 'chat.stored-event-subscriber', index_by: 'key' }
        tags:
            - { name: console.command, command: chat:follow-event-store, description: 'Follow event store and run subscribers.' }

    chat.rabbit-mq-command-listener-command:
        class: Gaming\Chat\Presentation\Console\RabbitMqCommandListenerCommand
        public: false
        arguments:
            - '@chat.message-broker'
            - '@chat.command-bus'
        tags:
            -  { name: console.command }
