services:
    chat.jms:
        class: JMS\Serializer\Serializer
        factory: ['Gaming\Common\JmsSerializer\JmsSerializerFactory', 'create']
        arguments:
            - '%kernel.debug%'
            - '%kernel.cache_dir%/chat/jms'
            - { 'Gaming': '%kernel.project_dir%/src/Chat/Infrastructure/Jms' }
            - !tagged_iterator chat.jms.subscriber

    chat.normalizer:
        class: Gaming\Common\Normalizer\Integration\JmsSerializerNormalizer
        arguments: ['@chat.jms']
