services:

    chat.predis:
        class: Predis\Client
        public: false
        arguments:
            - '%env(APP_CHAT_PREDIS_CLIENT_URL)%'
            - { prefix: 'chat:' }

    chat.doctrine-dbal:
        alias: 'doctrine.dbal.chat_connection'

    chat.event-store:
        class: Gaming\Common\EventStore\Integration\Doctrine\DoctrineEventStore
        public: false
        arguments:
            - '@chat.doctrine-dbal'
            - 'event_store'
            - '@chat.normalizer'
            - '@clock'
