services:
    chat.publish-stored-events-subscriber:
        class: Gaming\Chat\Infrastructure\Messaging\PublishDomainEventsToMessageBrokerSubscriber
        arguments: ['@gaming.message-broker.gaming-exchange-publisher']
        tags: [{ name: 'chat.stored-event-subscriber', key: 'publish-to-message-broker' }]
