version: '3.4'

x-php-container:
    &php-container
    image: marein/php-gaming-website:php-fpm
    env_file: ./.env
    environment:
        APP_ENVIRONMENT: prod
    depends_on:
        - mysql
        - redis
        - rabbit-mq
        - nchan
    restart: on-failure

services:
    ##############################
    #  Database and application  #
    ##############################
    traefik:
        image: marein/php-gaming-website:traefik
        command:
            - --providers.docker
            - --providers.docker.exposedbydefault=false
        depends_on:
            - nchan
            - php-fpm
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    mysql:
        image: marein/php-gaming-website:mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
        volumes:
            - mysql:/var/lib/mysql
        restart: on-failure
    proxysql:
        image: marein/php-gaming-website:proxysql
        environment:
            PROXYSQL_CONFIG: |
                admin_variables: {
                    restapi_enabled="true"
                }
                mysql_variables: {
                    server_version="8.0"
                    monitor_username="root"
                    monitor_password="password"
                    auto_increment_delay_multiplex=0
                }
                mysql_servers: (
                    {hostgroup=1,address="mysql",port=3306,max_connections=100}
                )
                mysql_users: (
                    {username="root",password="password",default_hostgroup=1}
                )
        depends_on:
            - mysql
        restart: on-failure
    redis:
        image: marein/php-gaming-website:redis
        command: redis-server --appendonly yes
        volumes:
            - redis:/data
        restart: on-failure
    rabbit-mq:
        image: marein/php-gaming-website:rabbit-mq
        hostname: rabbit-mq
        volumes:
            - rabbit-mq:/var/lib/rabbitmq/mnesia
        restart: on-failure
    nchan:
        image: marein/php-gaming-website:nchan
        restart: on-failure
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nchan.priority=20"
            - "traefik.http.routers.nchan.rule=PathPrefix(`/sse`)"
    php-fpm:
        <<: *php-container
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.php-fpm.priority=10"
            - "traefik.http.routers.php-fpm.rule=PathPrefix(`/`)"
            - "traefik.http.services.php-fpm.loadbalancer.server.port=80"

    ##############################
    #   Long running processes   #
    ##############################
    php-connect-four-follow-event-store:
        <<: *php-container
        command: bin/console connect-four:follow-event-store pointer --select-all-subscribers
    php-chat-follow-event-store:
        <<: *php-container
        command: bin/console chat:follow-event-store pointer --select-all-subscribers
    php-identity-follow-event-store:
        <<: *php-container
        command: bin/console identity:follow-event-store pointer --select-all-subscribers
    php-consume-messages:
        <<: *php-container
        command: bin/console gaming:consume-messages --select-all-consumers
    php-web-interface-publish-running-games-count-to-nchan:
        <<: *php-container
        command: bin/console web-interface:publish-running-games-count-to-nchan

    ##############################
    #          CI helper         #
    ##############################
    selenium:
        image: selenium/standalone-chrome:3.14
    php:
        build:
            context: .
            dockerfile: ./docker/php-fpm/Dockerfile
        entrypoint: ''
        command: 'true'
        volumes:
            - ./tests:/project/tests:delegated

volumes:
    mysql:
    redis:
    rabbit-mq:
