version: '3.4'

x-php-container:
    &php-container
    image: marein/php-gaming-website:php-fpm
    environment:
        APPLICATION_ENVIRONMENT: prod
        WAIT_FOR: mysql:3306,redis:6379,rabbit-mq:5672,nchan:81
        RUN_CHAT_MIGRATIONS: 1
        RUN_CONNECT_FOUR_MIGRATIONS: 1
        RUN_IDENTITY_MIGRATIONS: 1
    depends_on:
        - mysql
        - redis
        - rabbit-mq
        - nchan
    restart: on-failure

services:
    ##############################
    #  Database and application  #
    ##############################
    traefik:
        image: marein/php-gaming-website:traefik
        command:
            - --api.insecure=true
            - --providers.docker
            - --providers.docker.exposedbydefault=false
        ports:
            - "80:80"
        depends_on:
            - nchan
            - service-js-polyfill
            - nginx
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    mysql:
        image: marein/php-gaming-website:mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
        volumes:
            - mysql:/var/lib/mysql
        restart: on-failure
    redis:
        image: marein/php-gaming-website:redis
        command: redis-server --appendonly yes
        volumes:
            - redis:/data
        restart: on-failure
    rabbit-mq:
        image: marein/php-gaming-website:rabbit-mq
        hostname: rabbit-mq
        volumes:
            - rabbit-mq:/var/lib/rabbitmq/mnesia
        restart: on-failure
    nchan:
        image: marein/php-gaming-website:nchan
        restart: on-failure
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nchan.priority=20"
            - "traefik.http.routers.nchan.rule=PathPrefix(`/sse`)"
    grafana:
        image: marein/php-gaming-website:grafana
        restart: on-failure
        environment:
            GF_AUTH_DISABLE_LOGIN_FORM: 1
            GF_AUTH_ANONYMOUS_ENABLED: 1
            GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
        ports:
            - "8085:3000"
    prometheus:
        image: marein/php-gaming-website:prometheus
        restart: on-failure
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
        volumes:
            - prometheus:/prometheus
    service-js-polyfill:
        image: gamingplatform/service-js-polyfill
        restart: on-failure
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.service-js-polyfill.priority=20"
            - "traefik.http.routers.service-js-polyfill.rule=PathPrefix(`/polyfill`)"
            - "traefik.http.routers.service-js-polyfill.middlewares=service-js-polyfill-stripprefix"
            - "traefik.http.middlewares.service-js-polyfill-stripprefix.stripprefix.prefixes=/polyfill"
    nginx:
        image: marein/php-gaming-website:nginx
        depends_on:
            - php-fpm
        restart: on-failure
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.nginx.priority=10"
            - "traefik.http.routers.nginx.rule=PathPrefix(`/`)"
    php-fpm: *php-container

    ##############################
    #   Long running processes   #
    ##############################
    php-connect-four-follow-event-store:
        <<: *php-container
        command: bin/console connect-four:follow-event-store pointer --select-all-subscribers
    php-chat-follow-event-store:
        <<: *php-container
        command: bin/console chat:follow-event-store pointer --select-all-subscribers
    php-identity-follow-event-store:
        <<: *php-container
        command: bin/console identity:follow-event-store pointer --select-all-subscribers
    php-consume-messages:
        <<: *php-container
        command: bin/console gaming:consume-messages --select-all-consumers
    php-web-interface-publish-running-games-count-to-nchan:
        <<: *php-container
        command: bin/console web-interface:publish-running-games-count-to-nchan

volumes:
    mysql:
    redis:
    rabbit-mq:
    prometheus:
