version: '3.4'

x-php-container:
    &php-container
    image: marein/php-gaming-website:php-fpm
    environment:
        APPLICATION_ENVIRONMENT: prod
        WAIT_FOR: mysql:3306,redis:6379,rabbit-mq:5672,nchan:81
        RUN_MIGRATIONS: 1
    depends_on:
        - mysql
        - redis
        - rabbit-mq
        - nchan
    restart: on-failure

services:
    ##############################
    #  Database and application  #
    ##############################
    traefik:
        image: marein/php-gaming-website:traefik
        ports:
            - "80:80"
        depends_on:
            - nchan
            - service-js-polyfill
            - nginx
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    mysql:
        image: marein/php-gaming-website:mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
        volumes:
            - mysql:/var/lib/mysql
        restart: on-failure
    redis:
        image: marein/php-gaming-website:redis
        command: redis-server --appendonly yes
        volumes:
            - redis:/data
        restart: on-failure
    rabbit-mq:
        image: marein/php-gaming-website:rabbit-mq
        hostname: rabbit-mq
        volumes:
            - rabbit-mq:/var/lib/rabbitmq/mnesia
        restart: on-failure
    nchan:
        image: marein/php-gaming-website:nchan
        restart: on-failure
        labels:
            - "traefik.enable=true"
            - "traefik.priority=20"
            - "traefik.frontend.rule=PathPrefix:/sse"
    service-js-polyfill:
        image: gamingplatform/service-js-polyfill
        restart: on-failure
        labels:
            - "traefik.enable=true"
            - "traefik.priority=20"
            - "traefik.frontend.rule=PathPrefixStrip:/polyfill"
    nginx:
        image: marein/php-gaming-website:nginx
        depends_on:
            - php-fpm
        restart: on-failure
        labels:
            - "traefik.enable=true"
            - "traefik.priority=10"
            - "traefik.frontend.rule=PathPrefix:/"
    php-fpm: *php-container

    ##############################
    #   Long running processes   #
    ##############################
    php-connect-four-build-query-model:
        <<: *php-container
        command: bin/console connect-four:build-query-model
    php-connect-four-publish-stored-events-to-rabbit-mq:
        <<: *php-container
        command: bin/console connect-four:publish-stored-events-to-rabbit-mq
    php-chat-publish-stored-events-to-rabbit-mq:
        <<: *php-container
        command: bin/console chat:publish-stored-events-to-rabbit-mq
    php-identity-publish-stored-events-to-rabbit-mq:
        <<: *php-container
        command: bin/console identity:publish-stored-events-to-rabbit-mq
    php-web-interface-publish-running-games-count-to-nchan:
        <<: *php-container
        command: bin/console web-interface:publish-running-games-count-to-nchan
    php-web-interface-publish-rabbit-mq-events-to-nchan:
        <<: *php-container
        command: bin/console web-interface:publish-rabbit-mq-events-to-nchan
    php-chat-command-listener:
        <<: *php-container
        command: bin/console chat:command-listener
    php-connect-four-referee:
        <<: *php-container
        command: bin/console connect-four:referee

volumes:
    mysql:
    redis:
    rabbit-mq:
