<!DOCTYPE>
<html>
<head>
    <title>Gaming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
</head>
<body>
<notification-list></notification-list>
<nav class="main-navigation">
    <a href="{{ path('lobby') }}">Lobby</a>
    |
    <a href="{{ path('profile') }}">Profile</a>
</nav>
{% block content %}{% endblock %}
<script type="module" src="{{ asset('assets/js/main.js') }}"></script>
</body>
</html>
