<!DOCTYPE html>
<html>
<head>
    <title>Gaming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    <script type="text/javascript">
        {# Load polyfills if necessary. #}
        !function(){function n(n,e,t){var o=document.createElement("script");o.type=e,o.src=n,o.onload=t||function(){},document.head.appendChild(o)}function e(){n("{{ asset('assets/js/main.js') }}","module")}window.EventSource&&window.customElements?e():n("/polyfill/polyfill.min.js?packages=CustomElements,EventSource","text/javascript",e)}();
    </script>
</head>
<body>
<notification-list></notification-list>
<nav class="main-navigation">
    <a href="{{ path('lobby') }}">Lobby</a>
    |
    <a href="{{ path('profile') }}">Profile</a>
</nav>
{% block content %}{% endblock %}
</body>
</html>
