{% extends '@web-interface/base.html.twig' %}

{% block content %}
    <section class="left">
        <div class="box">
            <p>
                <running-games>
                    {{ runningGames.count }}
                </running-games>
                running games
            </p>
        </div>
    </section>
    <section class="middle">
        <ul class="game-list"
            id="games"
            data-open-games="{{ openGames|json_encode|e('html_attr') }}"
            data-maximum-number-of-games="{{ maximumNumberOfGamesInList }}">
        </ul>
    </section>
    <section class="right">
        <div class="box">
            <p>
                <open-game-button game-id="{{ game.gameId }}">
                    + Open a new game
                </open-game-button>
            </p>
        </div>
    </section>
    <event-source url="/sse/sub?id=lobby"
                  {% if app.environment == 'dev' %}verbose{% endif %}>
    </event-source>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
            new Gaming.ConnectFour.GameList(
                app.eventPublisher,
                document.getElementById('games')
            );
        });
    </script>
{% endblock %}
