{% extends '@web-interface/base.html.twig' %}

{% block content %}
    <section class="left">
        <div class="box">
            <p>
                <span id="running-games">
                    {{ runningGames.count }}
                </span>
                running games
            </p>
        </div>
    </section>
    <section class="middle">
        <ul class="game-list" id="games">
        </ul>
    </section>
    <section class="right">
        <div class="box">
            <p>
                <button class="button" data-open-game-button>
                    + Open a new game
                </button>
            </p>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        (function () {
            new Gaming.ConnectFour.RunningGames(
                app.eventPublisher,
                document.getElementById('running-games')
            );
            new Gaming.ConnectFour.GameList(
                app.eventPublisher,
                app.gameService,
                document.getElementById('games'),
                {{ openGames|json_encode|raw }},
                {{ maximumNumberOfGamesInList }}
            );
            new Gaming.ConnectFour.OpenGameButton(
                app.eventPublisher,
                app.gameService,
                document.querySelector('[data-open-game-button]')
            );
            startEventSource(top.location.protocol + '//' + top.location.host + '/sse/sub?id=lobby');
        })();
    </script>
{% endblock %}
