############################
#          Shared          #
############################
# dev|prod
GAMBLING_ENVIRONMENT="dev"
GAMBLING_KERNEL_SECRET="ThisTokenIsNotSoSecretChangeIt"

############################
#       Chat Context       #
############################
GAMBLING_CHAT_DOCTRINE_DBAL_URL="mysql://root:password@mysql:3306/chat?charset=UTF8"
GAMBLING_CHAT_PREDIS_CLIENT_URL="redis://redis:6379"
GAMBLING_CHAT_RABBIT_MQ_DSN="amqp://guest:guest@rabbit-mq:5672?receive_method=basic_consume&qos_prefetch_count=1000"

############################
#   Connect Four Context   #
############################
GAMBLING_CONNECT_FOUR_DOCTRINE_DBAL_URL="mysql://root:password@mysql:3306/connect-four?charset=UTF8"
GAMBLING_CONNECT_FOUR_PREDIS_CLIENT_URL="redis://redis:6379"
GAMBLING_CONNECT_FOUR_RABBIT_MQ_DSN="amqp://guest:guest@rabbit-mq:5672?receive_method=basic_consume&qos_prefetch_count=1000"

############################
#     Identity Context     #
############################
GAMBLING_IDENTITY_DOCTRINE_DBAL_URL="mysql://root:password@mysql:3306/identity?charset=UTF8"

############################
#  Web Interface Context   #
############################
GAMBLING_WEB_INTERFACE_PREDIS_CLIENT_URL="redis://redis:6379"
GAMBLING_WEB_INTERFACE_RABBIT_MQ_DSN="amqp://guest:guest@rabbit-mq:5672?receive_method=basic_consume&qos_prefetch_count=1000"
GAMBLING_WEB_INTERFACE_NCHAN_BASE_URL="http://nchan"
GAMBLING_WEB_INTERFACE_NCHAN_USERNAME="user"
GAMBLING_WEB_INTERFACE_NCHAN_PASSWORD="password"
