{% extends '@web-interface/base.html.twig' %}

{% block content %}
    <section class="left">
        <div class="box">
            <p>
                <running-games>
                    {{ runningGames.count }}
                </running-games>
                running games
            </p>
        </div>
    </section>
    <section class="middle">
        <connect-four-game-list open-games="{{ openGames|json_encode|e('html_attr') }}"
                                player-id="{{ app.session.get('user')|e('html_attr') }}"
                                maximum-number-of-games="{{ maximumNumberOfGamesInList }}">
        </connect-four-game-list>
    </section>
    <section class="right">
        <div class="box">
            <p>
                <open-game-button>
                    + Open a new game
                </open-game-button>
            </p>
        </div>
    </section>
    <event-source subscriptions="lobby"
                  {% if app.environment == 'dev' %}verbose{% endif %}>
    </event-source>
{% endblock %}
