{% extends 'layout/condensed.html.twig' %}

{% set page_title = 'Lobby' %}

{% block content %}
    <div class="row row-cards">
        <div class="col-lg-3 order-first">
            <div class="card">
                <div class="card-body">
                    {{ render_ssi(controller('connect-four.fragment-controller::statisticsAction')) }}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            {{ render_ssi(controller('connect-four.fragment-controller::openGamesAction')) }}
        </div>
        <div class="col-lg-3 order-first order-lg-last">
            <div class="card">
                <div class="card-body">
                    <div class="dropdown">
                        <input type="checkbox" class="gp-dropdown-toggle" id="open-game-dropdown">
                        <label class="btn btn-primary w-100 dropdown-toggle"
                               for="open-game-dropdown">
                            Open a new game
                        </label>
                        <div class="dropdown-menu dropdown-menu-card dropdown-menu-arrow dropdown-menu-end"
                             data-bs-popper>
                            <div class="card">
                                <div class="card-body">
                                    {{ form(openForm, {action: path('open')}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <event-source subscriptions="lobby"
                  {% if app.environment == 'dev' %}verbose{% endif %}>
    </event-source>
{% endblock %}
