{% extends '@web-interface/layout/condensed.html.twig' %}

{% set page_title = 'Profile' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% for game in games %}
                <p>
                    <a href="{{ path('game', {id: game}) }}">
                        Anonymous - Anonymous
                    </a>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
