services:
    web-interface.page-controller:
        class: Gaming\WebInterface\Presentation\Http\PageController
        calls: [[setContainer, ['@Psr\Container\ContainerInterface']]]
        tags: ['controller.service_arguments', 'container.service_subscriber']

    web-interface.server-time-controller:
        class: Gaming\WebInterface\Presentation\Http\ServerTimeController
        tags: ['controller.service_arguments']

    web-interface.metrics-controller:
        class: Gaming\Common\SymfonyPrometheus\MetricsController
        arguments: ['@gaming.prometheus.registry', 'app']
        tags: ['controller.service_arguments']
