version: '3.4'

services:
    traefik:
        image: traefik:3.6
        command:
            - --metrics.prometheus=true
            - --providers.swarm=true
            - --providers.swarm.exposedByDefault=false
            - --entrypoints.http.address=:80
            - --entrypoints.http.http.redirections.entrypoint.to=https
            - --entrypoints.http.http.redirections.entrypoint.scheme=https
            - --entrypoints.http.http.redirections.entrypoint.permanent=true
            - --entrypoints.https.address=:443
            - --entrypoints.https.http.tls=true
        ports:
            - { published: 80, target: 80, mode: host }
            - { published: 443, target: 443, mode: host }
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        deploy:
            placement:
                constraints:
                    - "node.labels.traefik==1"
            labels:
                - "prometheus-job=traefik"
                - "prometheus-port=8080"
