version: '3.4'

services:
    traefik:
        image: traefik:3.6
        command:
            - --metrics.prometheus=true
            - --providers.swarm=true
            - --providers.swarm.exposedByDefault=false
        ports:
            - { published: 80, target: 80, mode: host }
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        deploy:
            placement:
                constraints:
                    - "node.labels.traefik==1"
            labels:
                - "prometheus-job=traefik"
                - "prometheus-port=8080"
