version: '3.4'

services:
    nchan:
        image: ghcr.io/gaming-platform/docker-nchan:1.3
        deploy:
            placement:
                constraints:
                    - "node.labels.nchan==1"
            labels:
                - "traefik.enable=true"
                - "traefik.http.routers.nchan.entrypoints=https"
                - "traefik.http.routers.nchan.priority=20"
                - "traefik.http.routers.nchan.rule=PathPrefix(`/sse`)"
                - "traefik.http.routers.nchan.middlewares=nchan-stripprefix"
                - "traefik.http.middlewares.nchan-stripprefix.stripprefix.prefixes=/sse"
                - "traefik.http.services.nchan.loadbalancer.server.port=80"
                - "prometheus-job=nchan"
                - "prometheus-port=81"
