{% extends '@identity/signup/layout/base.html.twig' %}

{% set page_title = 'Confirm and play!' %}
{% set step = 3 %}

{% block card %}
    <h2 class="text-center mb-4">Confirm and play!</h2>
    {{ form(form) }}
{% endblock %}
