imports:
    - { resource: services/command_bus.yml }
    - { resource: services/console.yml }
    - { resource: services/persistence.yml }
    - { resource: services/subscriber.yml }
    - { resource: services/user.yml }

doctrine:
    dbal:
        connections:
            identity:
                url: '%env(APPLICATION_IDENTITY_DOCTRINE_DBAL_URL)%'
                server_version: 8.0
                charset: utf8mb4
                default_table_options:
                     charset: utf8mb4
                     collate: utf8mb4_unicode_ci
    orm:
        entity_managers:
            identity:
                connection: identity
                mappings:
                    user:
                        type:     yml
                        dir:      '%kernel.project_dir%/src/Identity/Port/Adapter/Persistence/Mapping/User'
                        prefix:   Gaming\Identity\Domain\Model\User
