services:
    identity.bot-requests-message-handler.topology:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\Topology\QueueTopology
        arguments: ['Identity.BotRequests', 'gaming', ['Identity.RegisterBot', 'Identity.GetBotByUsername']]
        tags: [{ name: 'gaming.message-broker.topology' }]

    identity.bot-requests-message-handler.consumer:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\AmqpConsumer
        factory: ['@gaming.message-broker.amqp-consumer-factory', 'create']
        arguments:
            - !service
                class: Gaming\Identity\Port\Adapter\Messaging\BotRequestsMessageHandler
                arguments: ['@identity.command-bus', '@identity.query-bus']
            - !service
                class: Gaming\Common\MessageBroker\Integration\AmqpLib\QueueConsumer\ConsumeQueues
                arguments: ['@identity.bot-requests-message-handler.topology']
        tags: [{ name: 'gaming.consumer', key: 'identity.command' }]
