services:
    identity.transient-rpc-message-handler.topology:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\Topology\QueueTopology
        arguments: ['Identity.TransientRpc', 'gaming', ['Identity.TransientRpc'], { 'x-message-ttl': 7000 }]
        tags: [{ name: 'gaming.message-broker.topology' }]

    identity.transient-rpc-message-handler.consumer:
        class: Gaming\Common\MessageBroker\Integration\AmqpLib\AmqpConsumer
        factory: ['@gaming.message-broker.amqp-consumer-factory', 'create']
        arguments:
            - !service
                class: Gaming\Identity\Port\Adapter\Messaging\RpcMessageHandler
                arguments: ['@identity.command-bus', '@identity.query-bus']
            - !service
                class: Gaming\Common\MessageBroker\Integration\AmqpLib\QueueConsumer\ConsumeQueues
                arguments: ['@identity.transient-rpc-message-handler.topology']
        tags: [{ name: 'gaming.consumer', key: 'identity.transient-rpc' }]
