<div class="dropdown">
    <input type="checkbox" class="gp-dropdown-toggle" id="open-game-dropdown">
    <label class="btn btn-primary dropdown-toggle{{ app.request.query.get('wide', '') == '1' ? ' w-100' }}"
           for="open-game-dropdown">
        New game
    </label>
    <div class="dropdown-menu dropdown-menu-card dropdown-menu-arrow dropdown-menu-end"
         data-bs-popper>
        <div class="card">
            <div class="card-body">
                {{ form(form, {action: path('connect_four_open')}) }}
            </div>
        </div>
    </div>
</div>
