html {
    scroll-padding-top: 10px;
}

html:has(.navbar.sticky-top) {
    scroll-padding-top: 66px;
}

html:has(.navbar.sticky-top) .page-body .sticky-md-top {
    top: 66px;
}

[data-title] {
    position: relative;
}

[data-title]:hover:after,
[data-title-show]:after {
    content: attr(data-title);
    pointer-events: none;
    position: absolute;
    padding: var(--tblr-spacer-2);
    opacity: .9;
    top: 100%;
    right: 0;
    width: max-content;
    max-width: 200px;
    word-wrap: break-word;
    text-align: center;
    z-index: 1080;
    font-size: 0.765625rem;
    color: var(--tblr-light);
    background-color: var(--tblr-bg-surface-dark);
    font-weight: var(--tblr-font-weight-light);
    border-radius: var(--tblr-border-radius);
}

.gp-dropdown-toggle {
    clip: rect(0 0 0 0);
    position: absolute;
}

.gp-dropdown-toggle:focus-visible + label.nav-link {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--tblr-primary-rgb), .25);
}

.gp-dropdown-toggle:focus-visible + label.btn {
    color: var(--tblr-btn-hover-color);
    background-color: var(--tblr-btn-hover-bg);
    border-color: var(--tblr-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--tblr-btn-box-shadow),var(--tblr-btn-focus-box-shadow);
}

.gp-dropdown-toggle:checked + label + .dropdown-menu {
    display: block;
}

.gp-expand-toggle {
    clip: rect(0 0 0 0);
    position: absolute;
}

.gp-expand-toggle + label {
    margin-bottom: var(--tblr-spacer-3);
}

.gp-expand-toggle:checked + label {
    margin-bottom: var(--tblr-spacer-2);
}

.gp-expand-toggle + label + * {
    display: none;
}

.gp-expand-toggle:checked + label + * {
    display: initial;
}

.gp-page-progress {
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    height: .2rem;
    width: 0;
    background-color: var(--tblr-primary);
    animation: gp-page-progress 10s ease-in-out infinite;
}

@keyframes gp-page-progress {
    2% {
        width: 10%;
    }
    20% {
        width: 25%;
    }
    to {
        width: 100%;
    }
}

.gp-page-progress--finish {
    width: 100%;
    animation: none;
    transition: opacity .25s ease .2s;
    opacity: 0;
}

.gp-loading {
    filter: brightness(0.85);
    cursor: wait !important;
}

.gp-loading * {
    cursor: wait !important;
}

.gp-fadeout {
    animation: gp-fadeout .5s ease-in-out;
}

@keyframes gp-fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

notification-list {
    width: 325px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;
}

.gp-cf-game {
    --grid-cols: 7;
    --border-size-base: 26px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-gap: var(--tblr-spacer-1);
    background-color: var(--tblr-blue-darken);
    border: var(--tblr-border-width) solid var(--tblr-border-color-translucent);
    border-radius: var(--tblr-border-radius);
    padding: var(--tblr-spacer-2);
}

.gp-cf-game--disabled {
    pointer-events: none;
}

.gp-cf-game__field {
    position: relative;
    text-align: initial;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--tblr-body-bg);
    border: var(--tblr-border-width) solid var(--tblr-dark);
    border-radius: 50%;
    cursor: pointer;
}

.gp-cf-game__field:after {
    content: "";
    position: absolute;
    top: calc(var(--tblr-border-width) * -1);
    left: calc(var(--tblr-border-width) * -1 + var(--tblr-spacer-1) / 2 * -1);
    width: calc(100% + var(--tblr-border-width) * 2 + var(--tblr-spacer-1));
    height: calc(100% + var(--tblr-border-width) * 2 + var(--tblr-spacer-1));
}

.gp-cf-game__field--highlight.gp-cf-game__field--current {
    box-shadow: 0 0 .5em var(--tblr-light);
}

.gp-cf-game__field--highlight {
    animation: gp-cf-game__field--highlight 3s infinite;
    border-color: var(--tblr-light) !important;
}

@keyframes gp-cf-game__field--highlight {
    20%, 40%, 60% {
        scale: 1;
    }
    10% {
        scale: .9;
    }
    30% {
        scale: .95;
    }
    50% {
        scale: .98;
    }
}

.gp-cf-game-list .gp-cf-game {
    --border-size-base: 13px;
}

.gp-cf-game__field .gp-cf-token {
    position: absolute;
    --border-size: calc(var(--border-size-base) / var(--grid-cols));
}

.gp-cf-token {
    --border-size: 5px;
    position: relative;
    display: inline-block;
    text-align: initial;
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--tblr-red);
    border-radius: 50%;
}

.gp-cf-token:before,
.gp-cf-token:after {
    content: "";
    position: absolute;
    border: var(--border-size) solid var(--tblr-red-darken);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
}

.gp-cf-token:after {
    border-width: calc(var(--border-size) * 2);
    scale: 50%;
}

.gp-cf-token--yellow {
    background-color: var(--tblr-yellow);
}

.gp-cf-token--yellow:before,
.gp-cf-token--yellow:after {
    border-color: var(--tblr-yellow-darken);
}

.gp-cf-token--preview {
    background-color: initial;
}

.gp-cf-token--pending:after {
    animation: gp-cf-token--pending-after 1s ease 1s infinite;
}

@keyframes gp-cf-token--pending-after {
    0% {
        border-bottom-color: transparent;
        transform: rotate(0deg);
    }
    100% {
        border-bottom-color: transparent;
        transform: rotate(360deg);
    }
}

.gp-cf-token-loading {
    display: flex;
    gap: var(--tblr-spacer-1);
    margin-bottom: var(--tblr-spacer-3);
}

.gp-cf-token-loading .gp-cf-token {
    --token-index: 0;
    scale: .9;
    animation: gp-cf-token-loading 1.4s linear calc(var(--token-index) * .1s) infinite;
}

@keyframes gp-cf-token-loading {
    0%, 100% {
        scale: .9;
    }
    15% {
        scale: 1;
    }
    30% {
        scale: .9;
    }
}

connect-four-players .status-dot {
    --tblr-status-size: .7rem;
}

connect-four-players .status-dot-animated:before {
    animation-delay: 0s;
}

[data-bs-theme=dark] .gp-cf-game {
    background-color: var(--tblr-bg-surface);
    border-color: var(--tblr-blue-darken);
}

[data-bs-theme=dark] .gp-cf-game__field {
    border-color: var(--tblr-blue-darken);
}

/** Fix specificity for checked buttons on hover */
.btn-check:checked + .btn:hover {
    color: var(--tblr-btn-active-color);
    background-color: var(--tblr-btn-active-bg);
    border-color: var(--tblr-btn-active-border-color);
    box-shadow: var(--tblr-btn-active-shadow)
}
