html {
    scroll-padding-top: 10px;
}

html:has(.layout-fluid) {
    scroll-padding-top: 66px;
}

[data-title] {
    position: relative;
}

[data-title]:hover:after,
[data-title-show]:after {
    content: attr(data-title);
    pointer-events: none;
    position: absolute;
    padding: var(--tblr-spacer-2);
    opacity: .9;
    top: 100%;
    right: 0;
    width: max-content;
    max-width: 200px;
    word-wrap: break-word;
    text-align: center;
    z-index: 1080;
    font-size: 0.765625rem;
    color: var(--tblr-light);
    background-color: var(--tblr-bg-surface-dark);
    font-weight: var(--tblr-font-weight-light);
    border-radius: var(--tblr-border-radius);
}

.gp-page-progress {
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    height: 0.2em;
    width: 0;
    background-color: var(--tblr-primary);
    animation: gp-page-progress 10s infinite;
}

.gp-page-progress--finish {
    width: 100%;
    transition: opacity .25s ease .2s;
    opacity: 0;
}

@keyframes gp-page-progress {
    to {
        width: 100%;
    }
}

.gp-loading {
    filter: brightness(0.85);
    cursor: wait !important;
}

.gp-loading * {
    cursor: wait !important;
}

.gp-fadeout {
    animation: gp-fadeout .5s ease-in-out;
}

@keyframes gp-fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

notification-list {
    width: 325px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;
}

.gp-game {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: var(--tblr-blue);
    border: var(--tblr-border-width) solid var(--tblr-border-color-translucent);
    border-radius: var(--tblr-border-radius);
    padding: .75rem;
}

.gp-game__row {
    display: flex;
    gap: .5rem;
}

.gp-game__cell {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--tblr-body-bg);
    border: var(--tblr-border-width) solid #323232;
    border-radius: 50%;
    box-shadow: var(--box-shadow-main, none);
    cursor: pointer;
}

.gp-game__cell.bg-red {
    --box-shadow-main: inset 0 0 0 .5em var(--tblr-red-darken),
    inset 0 0 0 1.5em var(--tblr-red),
    inset 0 0 0 1.8em var(--tblr-red-darken);
}

.gp-game__cell.bg-yellow {
    --box-shadow-main: inset 0 0 0 .5em var(--tblr-yellow-darken),
    inset 0 0 0 1.5em var(--tblr-yellow),
    inset 0 0 0 1.8em var(--tblr-yellow-darken);
}

.gp-game__cell--current {
    box-shadow: var(--box-shadow-main), 0 0 .5em var(--tblr-light);
}

.gp-game__cell--highlight {
    animation: gp-game__cell--highlight 3s infinite;
    border-color: var(--tblr-light) !important;
}

@keyframes gp-game__cell--highlight {
    20%, 40%, 60% {
        transform: scale3d(1, 1, 1);
    }
    10% {
        transform: scale3d(.9, .9, .9);
    }
    30% {
        transform: scale3d(.95, .95, .95);
    }
    50% {
        transform: scale3d(.98, .98, .98);
    }
}

[data-bs-theme=dark] .gp-game {
    background-color: var(--tblr-bg-surface);
    border-color: var(--tblr-blue);
}

[data-bs-theme=dark] .gp-game__cell {
    border-color: var(--tblr-blue);
}
