html {
    scroll-padding-top: 10px;
}

html:has(.layout-fluid) {
    scroll-padding-top: 66px;
}

.gp-page-progress {
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
    height: 0.2em;
    width: 0;
    background-color: var(--tblr-primary);
    animation: gp-page-progress 10s infinite;
}

.gp-page-progress--finish {
    width: 100%;
    transition: opacity .25s ease .2s;
    opacity: 0;
}

@keyframes gp-page-progress {
    to {
        width: 100%;
    }
}

.gp-loading {
    filter: brightness(0.85);
    cursor: wait !important;
}

.gp-loading * {
    cursor: wait !important;
}

.gp-fadeout {
    transition: all 0.25s ease-in-out;
    opacity: 0;
}

notification-list {
    width: 325px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;
}

.gp-game {
    width: 100%;
    background-color: var(--tblr-blue);
    border: var(--tblr-border-width) solid var(--tblr-border-color-translucent);
    border-radius: var(--tblr-border-radius);
    border-collapse: initial;
    border-spacing: .5rem;
    padding: .25rem .25rem;
}

.gp-game__field {
    border: var(--tblr-border-width) solid #323232;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--tblr-body-bg);
}

.gp-game__field::before {
    display: block;
    content: "";
    padding-top: 100%;
    position: relative;
}

.gp-game__field--highlight {
    animation: gp-game__field--highlight 1.5s infinite;
}

@keyframes gp-game__field--highlight {
    from, 40%, to {
        transform: scale3d(1, 1, 1);
    }
    20% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        transform: scale3d(.95, .95, .95);
    }
}

[data-bs-theme=dark] .gp-game {
    background-color: var(--tblr-bg-surface);
    border-color: var(--tblr-blue);
}

[data-bs-theme=dark] .gp-game__field {
    border-color: var(--tblr-blue);
}
