############################
#          Shared          #
############################
# dev|prod
APPLICATION_ENVIRONMENT="dev"
APPLICATION_KERNEL_SECRET="ThisTokenIsNotSoSecretChangeIt"
APPLICATION_RABBIT_MQ_DSN="amqp://guest:guest@rabbit-mq:5672?receive_method=basic_consume&qos_prefetch_count=1000"

############################
#       Chat Context       #
############################
APPLICATION_CHAT_DOCTRINE_DBAL_URL="mysqli://root:password@mysql:3306/chat?persistent=1"

############################
#   Connect Four Context   #
############################
APPLICATION_CONNECT_FOUR_DOCTRINE_DBAL_URL="mysqli://root:password@mysql:3306/connect-four?persistent=1"
APPLICATION_CONNECT_FOUR_PREDIS_CLIENT_URL="redis://redis:6379"

############################
#     Identity Context     #
############################
APPLICATION_IDENTITY_DOCTRINE_DBAL_URL="mysqli://root:password@mysql:3306/identity?persistent=1"

############################
#  Web Interface Context   #
############################
APPLICATION_WEB_INTERFACE_PREDIS_CLIENT_URL="redis://redis:6379"
APPLICATION_WEB_INTERFACE_NCHAN_BASE_URL="http://nchan:81"
