{% extends '@web-interface/login/layout/base.html.twig' %}

{% set page_title = 'Check your inbox!' %}

{% block card %}
    <h2 class="text-center mb-4">Check your inbox!</h2>
    <p class="text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="icon icon-md">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"/>
            <path d="M3 7l9 6l9 -6"/>
        </svg>
    </p>
    <p class="text-center">
        We’ve sent a login link to your inbox. Click the link in the email to log in.
        If you don't see the email, check your spam folder or
        <a href="{{ path('login') }}">click here to try again</a>.
        If you don't have an account yet,
        <a href="{{ path('signup') }}">sign up here</a>.
    </p>
    {% if app.request.get('loginUrl') %}
        <p class="text-danger text-center fw-bolder">
            No email has been sent because this feature is still in development,
            <a href="{{ app.request.get('loginUrl') }}">click here</a> to login.
        </p>
    {% endif %}
{% endblock %}
