{% extends '@web-interface/login/layout/base.html.twig' %}

{% set page_title = 'Login to your account' %}

{% block card %}
    <h2 class="text-center mb-4">Login to your account</h2>
    {{ form(form) }}
{% endblock %}
