version: '3.4'

services:
    chat-follow-event-store:
        image: marein/php-gaming-website:php-fpm
        command: bin/console chat:follow-event-store pointer all
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=chat-follow-event-store"
    chat-durable-rpc:
        image: marein/php-gaming-website:php-fpm
        command: bin/console gaming:consume-messages chat.durable-rpc -r 3
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            replicas: 5
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=chat-durable-rpc"
    chat-transient-rpc:
        image: marein/php-gaming-website:php-fpm
        command: bin/console gaming:consume-messages chat.transient-rpc -r 3
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            replicas: 5
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=chat-transient-rpc"
    chat-publish-to-browser:
        image: marein/php-gaming-website:php-fpm
        command: bin/console gaming:consume-messages chat.publish-to-browser -r 3
        env_file: ../app.env
        volumes:
            - proxysql.sock:/var/run/proxysql
        deploy:
            placement:
                constraints:
                    - "node.labels.long-running==1"
            labels:
                - "prometheus-job=chat-publish-to-browser"

volumes:
    proxysql.sock:
