{% extends '@tic-tac-toe/base.html.twig' %}

{% set page_title = 'Lobby' %}

{% block content %}
    <div class="container container-narrow">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{{ path('tic_tac_toe_open_challenge') }}">
                    <button type="submit" class="btn">New game</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
