{% extends '@tic-tac-toe/base.html.twig' %}

{% set page_title = 'Lobby' %}

{% block content %}
    <div class="container container-narrow">
        <div class="card">
            <div class="card-body">
                Not implemented yet.
            </div>
        </div>
    </div>
{% endblock %}
