services:

    connect-four.follow-event-store-command:
        class: Gaming\Common\Port\Adapter\Symfony\FollowEventStoreCommand
        public: false
        arguments:
            - '@connect-four.event-store'
            - !service
                class: Gaming\Common\Port\Adapter\Symfony\EventStorePointerFactory\PredisEventStorePointerFactory
                arguments:
                    - '@connect-four.predis'
            - !tagged { tag: 'connect-four.stored-event-subscriber', index_by: 'key' }
        tags:
            - { name: console.command, command: connect-four:follow-event-store, description: 'Follow event store and run subscribers.' }

    connect-four.referee-command:
        class: Gaming\ConnectFour\Port\Adapter\Console\RefereeCommand
        public: false
        arguments:
            - '@connect-four.message-broker'
            - '@connect-four.command-bus'
        tags:
            -  { name: console.command }
