services:
    connect-four.page-controller:
        class: Gaming\ConnectFour\Port\Adapter\Http\PageController
        arguments: ['@connect-four.query-bus', '@gaming.usernames']
        calls: [[setContainer, ['@Psr\Container\ContainerInterface']]]
        tags: ['controller.service_arguments', 'container.service_subscriber']

    connect-four.fragment-controller:
        class: Gaming\ConnectFour\Port\Adapter\Http\FragmentController
        arguments: ['@connect-four.query-bus', '@gaming.usernames']
        calls: [[setContainer, ['@Psr\Container\ContainerInterface']]]
        tags: ['controller.service_arguments', 'container.service_subscriber']

    connect-four.challenge-controller:
        class: Gaming\ConnectFour\Port\Adapter\Http\ChallengeController
        arguments:
            - '@connect-four.command-bus'
            - '@connect-four.query-bus'
            - '@web-interface.security'
            - '@gaming.usernames'
        calls: [[setContainer, ['@Psr\Container\ContainerInterface']]]
        tags: ['controller.service_arguments', 'container.service_subscriber']

    connect-four.game-controller:
        class: Gaming\ConnectFour\Port\Adapter\Http\GameController
        arguments: ['@connect-four.command-bus', '@web-interface.security']
        tags: ['controller.service_arguments']
