services:

    connect-four.game-controller:
        class: Gaming\ConnectFour\Port\Adapter\Http\GameController
        public: false
        arguments:
            - '@connect-four.command-bus'
            - '@connect-four.query-bus'

    connect-four.game-repository:
        class: Gaming\ConnectFour\Port\Adapter\Persistence\Repository\DoctrineJsonGameRepository
        public: false
        arguments:
            - '@connect-four.doctrine-dbal'
            - 'game'
            - '@connect-four.event-store'
            - '@connect-four.normalizer'
            - !service
                class: Gaming\Common\Sharding\Integration\Crc32ModShards
                arguments:
                    - '%env(csv:APP_CONNECT_FOUR_DOCTRINE_DBAL_SHARDS)%'

    connect-four.game-store:
        class: Gaming\ConnectFour\Port\Adapter\Persistence\Repository\PredisGameStore
        public: false
        arguments:
            - '@connect-four.predis'
            - 'game.'
            - '@connect-four.games-game-finder'

    connect-four.game-finder:
        alias: 'connect-four.game-store'

    connect-four.games-game-finder:
        class: Gaming\ConnectFour\Port\Adapter\Persistence\Repository\GamesGameFinder
        public: false
        arguments:
            - '@connect-four.game-repository'

    connect-four.games-by-player-store:
        class: Gaming\ConnectFour\Port\Adapter\Persistence\Repository\PredisGamesByPlayerStore
        public: false
        arguments:
            - '@connect-four.predis'
            - 'games-by-player.'

    connect-four.open-game-store:
        class: Gaming\ConnectFour\Port\Adapter\Persistence\Repository\PredisOpenGameStore
        public: false
        arguments:
            - '@connect-four.predis'
            - 'open-games'

    connect-four.running-games-store:
        class: Gaming\ConnectFour\Port\Adapter\Persistence\Repository\PredisRunningGameStore
        public: false
        arguments:
            - '@connect-four.predis'
            - 'running-games'
