services:

    connect-four.predis:
        class: Predis\Client
        public: false
        arguments:
            - '%env(APP_CONNECT_FOUR_PREDIS_CLIENT_URL)%'
            - { prefix: 'connect-four:' }

    connect-four.doctrine-dbal:
        alias: 'doctrine.dbal.connect_four_connection'

    connect-four.event-store:
        class: Gaming\Common\EventStore\Integration\Doctrine\DoctrineEventStore
        public: false
        arguments:
            - '@connect-four.doctrine-dbal'
            - 'event_store'
            - '@connect-four.normalizer'
            - '@clock'
